<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Control.AsyncSeq" version="1.13" targetFramework="net452" userInstalled="true" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net452" userInstalled="true" />
  <package id="FSharpx.Async" version="1.12.0" targetFramework="net452" userInstalled="true" />
  <package id="FSharpx.Collections" version="1.10.1" targetFramework="net452" userInstalled="true" />
  <package id="FSharpx.Extras" version="1.10.2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-rc2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net452" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net452" userInstalled="true" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net452" userInstalled="true" />
</packages>